{% extends "base.html" %}
{% block title %}
	{{ super() }} Clientes que más gastaron
{% endblock title %}

{% block page_content %}
<div class="row">
	<div class="col-xs-12 caja">
		<h1 class='titulo'>Clientes que <span class="text-danger">más gastaron</span>:</h1>
		<br>

		<form method="POST" class="form-inline">
		<div class="form-group">
		{{ traer.csrf_token }}
		
		{{ traer.buscar(class_="form-control input-lg",
						autofocus=true,
						required="",
						placeholder="Ingrese cantidad (ej: 5)",
						size=20,
						maxlength=6) }}

		{{ traer.submit(class_="btn btn-default btn-lg") }}
		</div>
		</form>

		{% if resultados: %}
		<br><br>
		<p><i>Mostrando los mayores gastos realizados por cliente</i>:</p>

		<div class="table-responsive">
		<table class="table table-hover table-striped">
			<tr>
			<th>#</th>
			<th>CLIENTES</th>
			<th class="text-danger">PRECIOS</th>	
			</tr>
			{% for linea in resultados: %}
				<tr>
				<th>{{ loop.index }}°</th>
				{% for campo in linea: %}
					{% if loop.index == 2: %}
						<td><b class="text-danger"><span class="letra-chica">$</span> {{ campo }}</b></td>
					{% else: %}
						<td>{{ campo }}</td>
					{% endif %}
				{% endfor %}
				</tr>
			{% endfor %}
		</table>
		</div>
		{% endif %}

	</div>
</div>
{% endblock page_content%}

{# FIN #}