{% extends "base.html" %}
{% block title %}
	{{ super() }} Clientes que más gastaron
{% endblock title %}

{% block page_content %}
<div class="row">
	<div class="col-xs-12 caja">
		{% with mensaje_info = get_flashed_messages() %}
			{% if mensaje_info: %}
				<h4><span class="label label-success">{{ mensaje_info[0] }}</span>&nbsp;</h4>
			{% endif %}
		{% endwith %}
		<h1 class='titulo'>Clientes que <span class="text-danger">más gastaron</span>:</h1>

		<form method="POST" class="form-inline">
		<div class="form-group">
		{{ traer_cmg.csrf_token }}
		
		{{ traer_cmg.buscar(class_="form-control",
						autofocus=true,
						required="",
						placeholder="Ingrese cantidad (ej: 5)",
						size=20,
						maxlength=6) }}

		{{ traer_cmg.submit(class_="btn btn-default",
						value="Traer") }}
		</div>
		</form>

		{% if resultados: %}
		<br>
		<p><i>Mostrando los mayores gastos realizados por cliente</i>:</p>

		<div class="table-responsive">
		<table class="table table-hover table-striped">
			<tr>
			<th>#</th>
			<th>CLIENTES</th>
			<th class="text-danger">PRECIOS</th>	
			</tr>
			{% for linea in resultados: %}
				<tr>
				<th>{{ loop.index }}°</th>
				{% for campo in linea: %}
					{% if loop.index == 2: %}
						<td><b class="text-danger"><span class="letra-chica">$</span> {{ campo }}</b></td>
					{% else: %}
						<td>{{ campo }}</td>
					{% endif %}
				{% endfor %}
				</tr>
			{% endfor %}
		</table>
		</div>
		
		<br>
			{% if exportar %}
			<form method="POST">
				{{ exportar.csrf_token }}

				{{ exportar.guardar(class_="btn btn-default btn-block btn-lg btn-danger",
								value="Guardar estos resultados en CSV") }}
			</form>

			{% else %}
				<button type="button" class="btn btn-block btn-lg btn-danger disabled">Resultados guardados!</button>
			{% endif %}
		{% endif %}
		
	</div>
</div>
{% endblock page_content%}

{# FIN #}