{% extends "base.html" %}
{% block title %}
	{{ super() }} Clientes por Producto
{% endblock title %}

{% block page_content %}
<div class="row">
	<div class="col-sm-7 col-sm-offset-1 caja">
		<h1 class="titulo">Clientes por <span class="text-danger">producto</span>:</h1>
		{% if error: %}
			<h4><span class="label label-danger">{{ error }}</span>&nbsp;</h4>
		{% endif %}
		<br>
		<form method="POST">
		{{ busqueda.csrf_token }}
		{{ busqueda.buscar(autofocus=true,
						 required="",
						 placeholder="Ingresar cliente acá",
						 size=25,
						 maxlength=25,
						 pattern=".{3,}",
						 title="3 caracteres mínimo") }}

		{{ busqueda.submit(class_="btn btn-default") }}
		</form>
		<br>

		{% if resultados: %}
		<br>
		<p>Mostrando resultados:</p>
		<table class="table table-hover table-striped">
			{% for linea in resultados: %}

				{# Primera Fila #}
				{% if loop.index == 1: %}
					<tr>
					<th>#</th>
					{% for campo in linea: %}
						{% if loop.index0 == columnas[1]: %}
							<th><span class="text-danger">{{ campo }}</span></th>
						{% else: %}
							<th>{{ campo }}</th>
						{% endif %}	
					{% endfor %}
					</tr>

				{# Filas de datos #}
				{% else: %}
					<tr>
					<th>{{ loop.index0 }}</th>
					{% for campo in linea: %}
						{% if loop.index0 == columnas[0]: %}
							<td><b>{{ campo }}</b></td>
						{% elif loop.index0 == columnas[1]: %}
							<td><b class="text-danger">{{ campo }}<b></td>
						{% else: %}
							<td>{{ campo }}</td>
						{% endif %}
					{% endfor %}
					</tr>
				{% endif %}
			{% endfor %}
		</table>
		{% endif %}
	</div>
</div>
{% endblock page_content%}

{# FIN #}