{% extends "base.html" %}
{% block title %}
	{{ super() }} Inicio
{% endblock title %}

{% block page_content %}
<div class="row">
	<div class="col-sm-4 col-sm-offset-1 caja">
		{% if error: %}
			<h4><span class="label label-danger">{{ error|safe }}</span>&nbsp;</h4>
		{% endif %}

		{% with mensaje_info = get_flashed_messages() %}
			{% if mensaje_info: %}
				<h4><span class="label label-info">{{ mensaje_info[0] }}</span>&nbsp;</h4>
			{% endif %}
		{% endwith %}

		<h1 class="titulo">Ingresar:</h1>
		<h2 class="subtitulo"><i>Solo usuarios registrados</i></h2>
		<form method="POST">
			{{ login.csrf_token }}
			{{ login.usuario(autofocus=true,
							required="",
							placeholder="Usuario",
							size=20,
							maxlength=20,
							pattern=".{3,}",
							title="3 caracteres mínimo") }}
			<br>
			{{ login.clave(required="",
						placeholder="Contraseña",
						size=20,
						maxlength=20,
						pattern=".{3,}",
						title="3 caracteres mínimo") }}
			<br><br>
			{{ login.submit(class_="btn btn-default") }}
		</form>
	</div>

</div>
{% endblock page_content %}

<!-- FIN Inicio -->