{% extends "base.html" %}
{% block title %}
	{{ super() }} Productos más vendidos
{% endblock title %}

{% block page_content %}
<div class="row">
	<div class="col-xs-12 caja">
		<h1 class="titulo">Productos <span class="text-danger">más vendidos</span>:</h1>
		<br>

		<form method="POST" class="form-inline">
		<div class="form-group">
		{{ traer.csrf_token }}
		
		{{ traer.buscar(class_="form-control input-lg",
						autofocus=true,
						required="",
						placeholder="Ingrese cantidad (ej: 10):",
						size=20,
						maxlength=6) }}

		{{ traer.submit(class_="btn btn-default btn-lg") }}
		</div>
		</form>

		{% if resultados: %}
		<br><br>
		<p><i>Mostrando los productos más vendidos por cantidad</i>:</p>

		<div class="table-responsive">
		<table class="table table-hover table-striped">
			<tr>
			<th>#</th>
			<th>PRODUCTOS</th>
			<th class="text-danger">CANTIDADES</th>	
			</tr>
			{% for linea in resultados: %}
				<tr>
				<th>{{ loop.index }}°</th>
				{% for campo in linea: %}
					{% if loop.index == 2: %}
						<td><b class="text-danger letra-grande">{{ campo }}</b> <span class="letra-chica">un.</span></td>
					{% else: %}
						<td>{{ campo }}</td>
					{% endif %}
				{% endfor %}
				</tr>
			{% endfor %}
		</table>
		</div>
		{% endif %}

	</div>
</div>
{% endblock page_content%}

{# FIN #}