{% extends "base.html" %}
{% block title %}
	{{ super() }} Productos por Cliente
{% endblock title %}

{% block page_content %}
<div class="row">
	<div class="col-xs-12 caja">
		{% with mensaje_info = get_flashed_messages() %}
			{% if mensaje_info: %}
				<h4><span class="label label-success">{{ mensaje_info[0] }}</span>&nbsp;</h4>
			{% endif %}
		{% endwith %}

		<h1 class="titulo">Productos <span class="text-danger">por cliente</span>:</h1>
		
		{% if error: %}
			<h4><span class="label label-danger">{{ error }}</span>&nbsp;</h4>
		{% endif %}

		<form method="POST" class="form-inline">
		<div class="form-group">
		{{ busqueda_pxc.csrf_token }}
		
		{{ busqueda_pxc.buscar(list="clientes",
						class_="form-control",
						autofocus=true,
						required="",
						autocomplete="off",
						placeholder="Ingrese cliente",
						size=25,
						maxlength=25) }}
		
		<datalist id="clientes">
			{% for fila in todos_clientes %}
			<option value="{{ fila }}">{{ fila }}</option>
			{% endfor %}
		</datalist>

		{{ busqueda_pxc.submit(class_="btn btn-default",
						value="Buscar") }}
		</div>
		</form>
		
		{% if resultados: %}
		<br>
		<p><i>Mostrando resultados</i>:</p>

		<div class="table-responsive">
		<table class="table table-hover table-striped">
			{% for linea in resultados: %}

				{# Primera Fila #}
				{% if loop.index == 1: %}
					<tr>
					<th>#</th>
					{% for campo in linea: %}
						{% if loop.index0 == columnas[1]: %}
							<th><span class="text-danger">{{ campo }}</span></th>
						{% elif campo == 'CANTIDAD' %}
							<th>{{ campo }} (un.)</th>
						{% elif campo == 'PRECIO' %}
							<th>{{ campo }} ($)</th>
						{% else: %}
							<th>{{ campo }}</th>
						{% endif %}	
					{% endfor %}
					</tr>

				{# Filas de datos #}
				{% else: %}
					<tr>
					<th>{{ loop.index0 }}</th>
					{% for campo in linea: %}
						{% if loop.index0 == columnas[0]: %}
							<td><b>{{ campo }}</b></td>
						{% elif loop.index0 == columnas[1]: %}
							<td><b class="text-danger">{{ campo }}</b></td>
						{% else: %}
							<td>{{ campo }}</td>
						{% endif %}
					{% endfor %}
					</tr>
				{% endif %}

			{% endfor %}
		</table>
		</div>
		
		<br>
			{% if exportar %}
			<form method="POST">
				{{ exportar.csrf_token }}

				{{ exportar.guardar(class_="btn btn-default btn-block btn-lg btn-danger",
									value="Guardar estos resultados en CSV") }}
			</form>

			{% else %}
				<button type="button" class="btn btn-block btn-lg btn-danger disabled">Resultados guardados!</button>
			{% endif %}
		{% endif %}

	</div>
</div>
{% endblock page_content%}

{# FIN #}