{% extends "base.html" %}
{% block title %}
	{{ super() }} Productos por Cliente
{% endblock title %}

{% block page_content %}
<div class="row">
	<div class="col-sm-7 col-sm-offset-1 caja">
		<h1 class="titulo">Productos por <span class="text-danger">cliente</span>:</h1>
		{% if error: %}
			<h4><span class="label label-danger">{{ error }}</span>&nbsp;</h4>
			<br>
		{% endif %}
		<br>
		<form method="POST">
		{{ busqueda.csrf_token }}
		{{ busqueda.buscar(autofocus=true, placeholder="Ingresar cliente acá", size=20) }}
		{{ busqueda.submit(class_="btn btn-default") }}
		</form>
		<br>

		{% if resultados: %}
		<table class="table table-hover table-striped">
			{% for linea in resultados: %}

				{# Primera Fila #}
				{% if loop.index == 1: %}
					<tr>
					<th>#</th>
					{% for campo in linea: %}
						{% if loop.index0 == columnas[1]: %}
							<th><span class="text-danger">{{ campo }}</span></th>
						{% else: %}
							<th>{{ campo }}</th>
						{% endif %}	
					{% endfor %}
					</tr>

				{# Filas de datos #}
				{% else: %}
					<tr>
					<th>{{ loop.index0 }}</th>
					{% for campo in linea: %}
						{% if loop.index0 == columnas[0]: %}
							<td><b>{{ campo }}</b></td>
						{% elif loop.index0 == columnas[1]: %}
							<td><b class="text-danger">{{ campo }}<b></td>
						{% else: %}
							<td>{{ campo }}</td>
						{% endif %}
					{% endfor %}
					</tr>
				{% endif %}

			{% endfor %}
		</table>
		{% endif %}
	</div>
</div>
{% endblock page_content%}

{# FIN #}